.druphal-dropdown {
	max-height: 300px;
	overflow-y: auto;
}
.druphal-dropdown-label {
	transform: translate(var(--ck-spacing-medium),-6px) scale(.75) !important;
	color: var(--ck-color-text) !important;
}
.druphal-dropdown-labeled-button {
	opacity: 1 !important;
}
.druphal-form {
	display: flex;
}
.halTag {
	padding: 10px;
	margin: 1em 0;

	background: rgba( 0, 0, 0, 0.1 );
	border: solid 1px hsl(0, 0%, 77%);
	border-radius: 2px;
}
.halTagTitle {
	background: rgba(0, 0, 0, 0.15);
	text-align: center;
}
.halTagDoctype, .halTagDates, .halTagSort, .halTagQueryType,
.halTagRender, .halTagTemplateEngine, .halTagInstance, .halTagInstances {
	background: rgba(50, 200, 80, 0.3);
}
.halTagQuery, .halTagRows, .halTagTemplateLocal,
.halTagResultFields, .halTagTemplateFilename {
	background: #FFF;
	padding: 1px;
    border: solid 1px hsl(0, 0%, 77%);
}
.halTagTemplate {
	padding: 10px;
    margin: 0;

    background: #FFF;
    border: solid 1px hsl(0, 0%, 77%);
}