<h1 id="druphal">drupHal</h1>
<h2 id="table-des-matières">Table des matières</h2>
<ul>
<li><a href="#pres">Présentation</a></li>
<li><a href="#filter-conf">Ajout du filtre et plug-in CkEditor</a></li>
<li><a href="#use-plugin5">Utilisation du plug-in CkEditor 5</a></li>
<li><a href="#use-plugin">Utilisation du plug-in CkEditor</a></li>
<li><a href="#qery-parameter">Paramètres des requêtes</a></li>
<li><a href="#template-parameter">Formulaire de gestions de
configuration des templates</a></li>
<li><a href="#template">Templates</a></li>
</ul>
<h2 id="pres">Présentation</h2>
<p>DrupHal est un module permétant d’affiché les résultats d’une requête
dans Hal.</p>
<h3 id="contenue">Contenue</h3>
<p>Ce module contient:</p>
<ul>
<li>le filtre Hal: remplace les balise [hal](…)[/hal] par le résultat de
la requête Hal correspondante,</li>
<li>le plugin CkEditor: permetant d’ajouter et d’éditer visuelement les
balises [hal](…)[/hal],</li>
<li>le formulaire d’ajout et de modification de la liste des templates
d’affichage préenregistrer,</li>
</ul>
<h2 id="filter-conf">Ajout du filtre et plug-in CkEditor</h2>
<p>dans Configuration &gt; Rédaction de contenu &gt; Formats de texte et
éditeurs, entrez dans la configuration du format de texte voulue.</p>
<p>Pour activer le plugin CkEditor, il suffit d’ajouté l’icone de
DrupHal (logo de Hal en noire et blanc) dans la bar d’outil de votre
choix.</p>
<p>Pour activer le filtre Hal il suffit de cocher la case filtre Hal
dans la liste des filtres activés.</p>
<p>Options plugin CkEditor :</p>
<ul>
<li>instance par défaut : instance par défaut, si aucun n’est
slecetionner, l’option n’aparé plus,</li>
<li>Mise à jour manuelle des données : Permet de télécharcher les
dernière version de la liste des instances et type de document à partir
du serveur de Hal.</li>
<li>Restauration manuelle des données : Permet de restauré la précédente
version des données,</li>
</ul>
<p>Une tache cron permet d’automatisé la verification des mise à jour.
Si le plugin ultimate_cron est installé, elle est executé tout les <a
href="https://crontab.guru/#0_0_*_*_0">dimanche soir à minuit</a> par
défaut. Un encadré ajoute la date dernière mise à jour et dernière
verification.</p>
<h2 id="use-plugin5">Utilisation du plug-in CkEditor 5</h2>
<h3 id="ajout-un-affichage">Ajout un affichage</h3>
<figure>
<img src="{{doc_path}}img/ck5/dropdown_menu_fr.png" alt="Ajout un affichage" />
<figcaption aria-hidden="true">
Ajout un affichage
</figcaption>
</figure>
<p>L’icon DrupHal permet d’ajouter un affichage de publication issu
d’une requête Hal. Il est possible d’ajouter laffichage pour une requête
de type auteur/autrice, structure ou personnalisé.</p>
<h4 id="widget-dédition">Widget d’édition</h4>
<p>Un widget spécifique permet de modifier les paramétres de la requête
et de l’affichage. De manière général les texte surligner en vert
indique un text qu’il permet d’ouvrir une bulle d’option en cliquant
dessus.</p>
<h3
id="affichage-des-publication-hal-pour-un-auteurune-autrice">Affichage
des publication Hal pour un auteur/une autrice</h3>
<figure>
<img src="{{doc_path}}img/ck5/author_general_fr.png" alt="Affichage des publication pour un auteur/une autrice" />
<figcaption aria-hidden="true">
Affichage des publication pour un auteur/une autrice
</figcaption>
</figure>
<h4 id="choix-du-type-de-requête">Choix du type de requête</h4>
<figure>
<img src="{{doc_path}}img/ck5/author_choose_type_fr.png" alt="Choix du type de requête" />
<figcaption aria-hidden="true">
Choix du type de requête
</figcaption>
</figure>
<p>Permet de choisir entre une recherche de type nom prenom ou une
recherche sur un idHal. Celà peut être un idHal numérique ou sous forme
de chaîne de caractère (le plus souvant prenom-nom).</p>
<h4 id="choix-des-types-de-documents">Choix des types de documents</h4>
<figure>
<img src="{{doc_path}}img/ck5/author_doctypes_fr.png" alt="Choix des types de documents" />
<figcaption aria-hidden="true">
Choix des types de documents
</figcaption>
</figure>
<p>Permet de choisir les types de documents.</p>
<h4 id="activer-le-portail-par-défaut">Activer le portail par
défaut</h4>
<figure>
<img src="{{doc_path}}img/ck5/author_instances_fr.png" alt="Activer le portail par défaut" />
<figcaption aria-hidden="true">
Activer le portail par défaut
</figcaption>
</figure>
<p>Permet d’activer ou désactiver la recherche sur le portail Hal par
défaut configurer dans le format de texte. Il est aussi possible de
selectionner un autre portail.</p>
<h4 id="séléction-dun-portail-parmis-la-liste-compléte">Séléction d’un
portail parmis la liste compléte</h4>
<figure>
<img src="{{doc_path}}img/ck5/author_all_instances_fr.png" alt="Séléction d'un portail parmis la liste compléte" />
<figcaption aria-hidden="true">
Séléction d’un portail parmis la liste compléte
</figcaption>
</figure>
<p>Permet de selectionner un autre portail. Interface par défaut si
aucun portail par défaut n’est séléctionné.</p>
<h4 id="séléction-des-dates">Séléction des dates</h4>
<figure>
<img src="{{doc_path}}img/ck5/author_dates_fr.png" alt="Séléction des dates" />
<figcaption aria-hidden="true">
Séléction des dates
</figcaption>
</figure>
<p>Permet de selectionner les dates de début et de fin de publication du
document (<a
href="https://api.archives-ouvertes.fr/docs/search/?schema=fields#go_producedDateY_i">champs
Hal producedDateY_i</a>).</p>
<h4 id="choix-nombres-de-résultats">Choix nombres de résultats</h4>
<figure>
<img src="{{doc_path}}img/ck5/author_dates_fr.png" alt="Choix nombres de résultats" />
<figcaption aria-hidden="true">
Choix nombres de résultats
</figcaption>
</figure>
<p>Choix du nombre de résultats renvoyer par la requête (<a
href="https://api.archives-ouvertes.fr/docs/search/?#rows">champs row de
la requête</a>).</p>
<h4 id="options-de-tri">Options de tri</h4>
<figure>
<img src="{{doc_path}}img/ck5/author_sort_fr.png" alt="Options de tri" />
<figcaption aria-hidden="true">
Options de tri
</figcaption>
</figure>
<p>Permet de choisir le champs de tri et la direction.</p>
<h4 id="option-de-rendu">Option de rendu</h4>
<figure>
<img src="{{doc_path}}img/ck5/author_render_option_fr.png" alt="Option de rendu" />
<figcaption aria-hidden="true">
Option de rendu
</figcaption>
</figure>
<p>Permet de choisir un des template préconfigurer et l’opton de tri par
type de document.</p>
<h3 id="affichage-des-publication-hal-pour-une-structure">Affichage des
publication Hal pour une structure</h3>
<figure>
<img src="{{doc_path}}img/ck5/structure_general_fr.png" alt="Affichage des publication pour une structure" />
<figcaption aria-hidden="true">
Affichage des publication pour une structure
</figcaption>
</figure>
<h4 id="choix-type-de-recherche">Choix type de recherche</h4>
<figure>
<img src="{{doc_path}}img/ck5/structure_choose_type_fr.png" alt="Choix type de recherche" />
<figcaption aria-hidden="true">
Choix type de recherche
</figcaption>
</figure>
<p>Permet de choisir entre une recherche sur le nom d’une ou sur
l’acronyme d’une structure.</p>
<p>Les autres options sont identique à un affichage pour
auteur/autrice.</p>
<h3
id="affichage-des-publication-hal-pour-une-requête-personnalisé">Affichage
des publication Hal pour une requête personnalisé</h3>
<figure>
<img src="{{doc_path}}img/ck5/custom_general_fr.png" alt="Affichage des publication pour une requête personnalisé" />
<figcaption aria-hidden="true">
Affichage des publication pour une requête personnalisé
</figcaption>
</figure>
<h4 id="choix-du-moteur-de-rendu">Choix du moteur de rendu</h4>
<figure>
<img src="{{doc_path}}img/ck5/custom_engine_fr.png" alt="Choix du moteur de rendu" />
<figcaption aria-hidden="true">
Choix du moteur de rendu
</figcaption>
</figure>
<p>Permet de choisir le moteur de rendu CSL ou Twig.</p>
<h4 id="twig">Twig</h4>
<h5 id="choix-des-champs-résultats">Choix des Champs résultats</h5>
<figure>
<img src="{{doc_path}}img/ck5/custom_result_field_fr.png" alt="Choix des Champs résultats" />
<figcaption aria-hidden="true">
Choix des Champs résultats
</figcaption>
</figure>
<p>Permet de lister les champs résultat de la requête en les séparent
par une virgule. La liste des champs est disponible sur <a
href="https://api.archives-ouvertes.fr/docs/search/?schema=fields#fields">la
documentation officiel de l’API Hal</a></p>
<h5 id="edition-du-template-twig">Edition du template Twig</h5>
<figure>
<img src="{{doc_path}}img/ck5/custom_template_fr.png" alt="Edition du template Twig" />
<figcaption aria-hidden="true">
Edition du template Twig
</figcaption>
</figure>
<p>Permet d’édité le template Twig.</p>
<h4 id="csl">CSL</h4>
<h5 id="choix-localisation">Choix localisation</h5>
<figure>
<img src="{{doc_path}}img/ck5/custom_localization_fr.png" alt="Choix localisation" />
<figcaption aria-hidden="true">
Choix localisation
</figcaption>
</figure>
<p>La localisation renvoi à un fichier disonible sur <a
href="https://github.com/citation-style-language/locales">le dépot
dédier au CSL</a>. Il doit être écrit au format standart langue-pays.
Par exemple, pour la france, fr-FR ou les états-units : en-US.</p>
<h5 id="choix-fichier-csl">Choix fichier CSL</h5>
<figure>
<img src="{{doc_path}}img/ck5/custom_csl_file_fr.png" alt="Choix fichier CSL" />
<figcaption aria-hidden="true">
Choix fichier CSL
</figcaption>
</figure>
<p>La liste des fichiers templates disponiblece trouve sur <a
href="https://github.com/citation-style-language/styles">ce dépot</a>.
Vous devez préciser le nom d’un des fichier existant.</p>
<h2 id="use-plugin">Utilisation du plug-in CkEditor</h2>
<p>Le plug-in CkEditor permet de généré les balise [hal](…)[/hal] en
utilisant une interface graphique.</p>
<p>Les champs des formulaire corresponde aux paramètres de la <a
href="#qery-parameter">requête</a> effectuer.</p>
<h3 id="onglet-auteursautrices">onglet : Auteur(s)/Autrice(s)</h3>
<p>Permet de faire une requête par Auteur(s)/Autrice(s).</p>
<h4 id="auteursautrices-author">Auteur(s)/Autrice(s) (author)</h4>
<p>Valeur par défaut : vide</p>
<p>Créé une requête sur un·e ou plusieurs auteur(s)/autrice(s).</p>
<p>Pour séparé les diférent·e·s auteur(s)/autrice(s), le caractère ‘+’
est remplacé par un AND et ‘,’ par un OR.</p>
<h4 id="type-de-recherche-authorquerytype">Type de recherche
(authorQueryType)</h4>
<p>Permet de choisir entre une recherche de type nom prenom ou une
recherche sur un idHal. Celà peut être un idHal numérique ou sous forme
de chaîne de caractère (le plus souvant prenom-nom).</p>
<h4 id="instance-instance">instance (instance)</h4>
<p>L’option n’est visible que si on instance par défaut à été
selectionner. Permet de choisir entre le instance Hal par défaut ou le
instance général pour la requête.</p>
<h3 id="onglet-structures">onglet : Structure(s)</h3>
<p>Permet de faire une requête par structure.</p>
<h4 id="type-de-recherche-structurequerytype">Type de recherche
(structureQueryType)</h4>
<p>Permet de choisir entre une recherche sur le nom d’une ou sur
l’acronyme d’une structure.</p>
<h4 id="structures-structure">Structure(s) (structure)</h4>
<p>Valeur par défaut : vide</p>
<p>Créé une requête sur la ou les structures renseignées par le
champ.</p>
<h3
id="paramètre-commun-entre-onglet-structures-et-auteursautrices">Paramètre
commun entre onglet Structure(s) et Auteur(s)/Autrice(s)</h3>
<h4 id="paramétre-daffichage">Paramétre d’affichage</h4>
<p>Permet de choisir le style de mise en forme. Il remplie
automatiquement les option liés aux templates <a
href="#template-parameter">configurer</a>.</p>
<h4 id="types-de-document-doctypes">Types de document (doctypes)</h4>
<p>Valeur par défaut : vide</p>
<p>Liste des document à afficher.</p>
<h4 id="année-de-dabut-min_year">Année de dabut (min_year)</h4>
<p>Valeur par défaut : vide</p>
<p>Années de début de la requête.</p>
<h4 id="année-de-fin-max_year">Année de fin (max_year)</h4>
<p>Valeur par défaut : vide</p>
<p>Années de fin de la requête.</p>
<h4 id="nombre-de-retour-rows">nombre de retour (rows)</h4>
<p>Valeur par défaut : 100</p>
<p>Nombre maximum de résultats affichés.</p>
<h4 id="ordonner-par-sort">ordonner par (sort)</h4>
<p>Valeur par défaut : date de production (producedDate_s)</p>
<p>Ordre de trie des résultats de la requête.</p>
<h4 id="direction-sort_type">direction (sort_type)</h4>
<p>Valeur par défaut : desc</p>
<p>direction de trie des résultats de la requête.</p>
<h4 id="style-de-mise-en-forme-selected_template">Style de mise en forme
(selected_template)</h4>
<p>Permet de choisir le style de mise en forme. Il remplie
automatiquement les option liés aux templates <a
href="#template-parameter">configurer</a>.</p>
<h3 id="onglet-avancé">onglet : Avancé</h3>
<p>Permet de faire une requête de recherche personnaliser sur Hal. La
documentation de l’API est disponible <a
href="https://api.archives-ouvertes.fr/docs/search/">ici</a>.</p>
<p>Vous ne devez pas ajouter les champs de retoure (fl) dans les
paramètres de la requête.</p>
<h4 id="requêt-query">requêt (query)</h4>
<p>Valeur par défaut : vide</p>
<p>Permet d’utiliser une requête personnalisée.</p>
<h4 id="moteur-de-template-template_engine">Moteur de template
(template_engine)</h4>
<p>Permet de choisir le moteur de rendu et de choisir les option.</p>
<p>le choix du moteur de rendu détermine les <a
href="#template">options</a> accessible.</p>
<h5 id="url-seulement-urlonly">URL Seulement (URLOnly)</h5>
<p>Le moteur de template URLOnly permer d’afficher l’URL de la requête
API correspondant au paramètre.</p>
<h2 id="qery-parameter">Paramètres des requêtes</h2>
<p>Les Paramètres des requête Hal sont enregistrer sous la forme d’une
chaine JSON présent entre les balise [hal](…)[/hal].</p>
<p>Les Paramètres non présent, on leurs valeurs par défault.</p>
<p>Seulement un des trois champs de requête (author, structure ou query)
doit être renseigné.x</p>
<h2 id="template-parameter">Formulaire de gestions de configuration des
templates</h2>
<p>Accessible dans la configuration du plugin CkEditor, ce formulaire
permet d’ajouter, de supprimer et de modifier les templates
préconfigurer pour un format de texte. Il est aussi possible de
réinitialiser la liste par défault.</p>
<p>En selectionnant une préconfiguration de template, vous pouvez la
supprimer ou la modifier. Si vous modifier le nom, alors cela en créra
un nouveau ou selectionnera celui correspondant.</p>
<p>Le bouton de réinitialisation permet de remetre la liste de template
par défaut.</p>
<p>Le bouton “Enregistrer la configuration” permet ou soit de créé une
nouvelle préconfiguration ou soit de modifier celle en cours.</p>
<h3 id="template">Template</h3>
<p>Pour personnaliser le rendu, on peut utiliser l’un des moteurs de
rendu. Les options disponible dépende du moteur de rendu choisi.</p>
<p>Les moteurs de rendu disponible sont :</p>
<ul>
<li>Citation Style Language (CSL)</li>
<li>Twig</li>
</ul>
<h4 id="citation-style-language">Citation Style Language</h4>
<p>Pour rendre les feuilles de style CSL, druphal utilise <a
href="https://github.com/seboettg/citeproc-php">citeproc-php</a>. Seul
les fauilles de styles prèinstallé peuvent être utiliser.</p>
<h5 id="localisation">localisation</h5>
<p>La localisation renvoi à un fichier disonible sur <a
href="https://github.com/citation-style-language/locales">le dépot
dédier au CSL</a>. Il doit être écrit au format standart langue-pays.
Par exemple, pour la france, fr-FR ou les états-units : en-US</p>
<h5 id="nom-de-fichiers-template">nom de fichiers template</h5>
<p>La liste des fichiers templates disponiblece trouve sur <a
href="https://github.com/citation-style-language/styles">ce dépot</a>.
Vous devez préciser le nom d’un des fichier existant.</p>
<h4 id="twig-1">Twig</h4>
<h5 id="champs-de-retour-result_fields">Champs de retour
(result_fields)</h5>
<p>Champs Hal (<a
href="https://api.archives-ouvertes.fr/docs/search/?schema=fields#fields">liste
compléte</a>) retourner par la requête.</p>
<p>Les champs doivent être séparé par des virgule sans espace.</p>
<h5 id="template-1">Template</h5>
<p>Template Twig de mise en forme du résultat de la requête.</p>
<p>La documentation de Twig est disponible <a
href="https://twig.symfony.com/doc/3.x/">ici</a>.</p>
<p>Le Template reçoit en paramètre le tableau items contenant tous les
résultats avec les champs renvoyer par la requête (soit défini par le
paramètre champs ou le champ fl de la requête personnalisé).</p>
<p>Les champs Hal de type multivalué sont retourné sous forme de
tableau.</p>
<p>Exemples de Template :</p>
<p>Avec les champs citationFull_s,authFullName_s pour l’affichage des
co-auteur·rice·s.</p>
<pre><code>{% for item in items%}{{ item.citationFull_s|raw }}&lt;br /&gt;&lt;br /&gt;
Co-auteur·rice·s :
{% for authFullName_s in item.authFullName_s%}
{% if not loop.first %}, {% endif %}{{ authFullName_s }}
{% endfor %}&lt;br /&gt;&lt;br /&gt;
{% endfor %}</code></pre>
<p>Avec les champs citationFull_s,abstract_s pour l’affichage de la
première version de l’abstract.</p>
<pre><code>{% for item in items%}{{ item.citationFull_s|raw }}&lt;br /&gt;&lt;br /&gt;
{{ item.abstract_s|first }}&lt;br /&gt;&lt;br /&gt;
{% endfor %}</code></pre>
