<p>{{ 'A cron task is added to automatically checking update. If ultimate_cron is install, it will be executed every midnight sunday by default.' | t }}</p>
<p>
    {{ 'last update' | t }} :
    <ul>
        <li>{{ 'Instances' | t }} : {{ update_instance is empty ? "no update" | t : update_instance|date('d/m/Y H:i', timezone="Europe/Paris") }}</li>
        <li>{{ 'Doctypes' | t }} : {{ update_doctype is empty ? "no update" | t : update_doctype|date('d/m/Y H:i', timezone="Europe/Paris") }}</li>
    </ul>
</p>
<p>
    {{ 'last check' | t }} :
    <ul>
        <li>{{ 'Instances' | t }} : {{ try_update_instance is empty ? "no update" | t : try_update_instance|date('d/m/Y H:i', timezone="Europe/Paris") }}</li>
        <li>{{ 'Doctypes' | t }} : {{ try_update_doctype is empty ? "no update" | t : try_update_doctype|date('d/m/Y H:i', timezone="Europe/Paris") }}</li>
    </ul>
</p>